h1{
  /*border:4px dashed rgba(190, 139, 183,.6);*/
  /*height:90px;*/
  /*width:455px;*/
  /*margin:0;*/
  display:flex;
  flex-direction:row;
  justify-content:center;
  font-family:cursive;
  font-size: 4em;
  color:rgba(190, 139, 183,.6)
}
.boxes {
 display:flex;
 flex-direction:row;
 justify-content:center;
}
#first{
 width:200px;
 height:100px;
 border:5px solid rgba(139, 184, 190,.8);
 margin-top:-1px;
 margin-left:-3px;
 background-image:url("http://images2.fanpop.com/images/photos/4700000/Wild-Animals-wild-animals-4741245-900-600.jpg");
 background-size: 200px 100px;
 background-repeat: no-repeat;
 text-align:center;
 font-size:20px;
 text-position:relative;bottom;
}
  #second{
 width:200px;
 height:100px;
 border:5px solid rgba(139, 184, 190,.8);
 margin-top:-1px;
 background-image:url("http://static2.businessinsider.com/image/51408b5c6bb3f7a97c000002/22-storytelling-tips-for-writers-from-a-pixar-storyboard-artist.jpg");
 background-size: 200px 100px;
 background-repeat: no-repeat;
}
#third{
  width:200px;
 height:100px;
 border:5px solid rgba(139, 184, 190,.8);
 margin-top:-1px;
 background-image:url("https://thecreativepanic.files.wordpress.com/2011/04/boombox.jpg");
 background-size: 200px 100px;
 background-repeat: no-repeat;
}
#fourth{
 width:200px;
 height:100px;
 border:5px solid rgba(139, 184, 190,.8);
 margin-top:-1px;
 background-image:url("http://4.bp.blogspot.com/-TgSpB-CJtIc/T95hrV0mnLI/AAAAAAAAC6U/AJr9_XLqsR0/s1600/planets-and-stars-move-differently-in-the-sky.jpg");
 background-size: 200px 100px;
 background-repeat: no-repeat;}
#fifth{
 width:200px;
 height:100px;
 border:5px solid rgba(139, 184, 190,.8);
 margin-top:-1px;
 margin-right:-4px;
background-image:url("https://secure.static.tumblr.com/21ac89a9b86d7ca8c68623d838b18a1a/vty3549/4Tnnnqepl/tumblr_static_tumblr_static__640.jpg");
 background-size: 200px 100px;
 background-repeat: no-repeat;
}
.container1,.container2,.container3, .container4, .container5{
  display:inline-block;
  height:100px;
  width:200px;
  padding:20px;
  margin:10px;
}
.container2{

}
.container3{

}
.container4{

}
.container5{

}
