
@media screen and (min-width:100px){

header{
  font-family:cursive;
  font-size: 4em;
  color: white;
  text-align:center;
  padding-bottom:10px;
  letter-spacing: 4px;
  text-shadow: 1px 1px 2px black;

}
header:hover {
color: pink;
transform: scale(1.1);
}
.song{
  display: flex;
  justify-content: space-around;
  align-content: center;
}
h2{
  display:flex;
  justify-content:space-between;
  margin:50px;
}
p{
  font-family:cursive;
  color: white;
  text-shadow: 1px 1px 2px black;
}
.boxes,.col {
 display:flex;
 justify-content:space-between;
 align-items:center;
 margin:20px;
 color:white;
}
.container1,.container2,.container3, .container4, .container5{
  display:inline-block;
  align-items: center;
  padding:20px;
  margin:20px;
}
#pic1, #pic2,#pic3, #pic4,#pic5{
 width:200px;
 height:100px;
 border:5px solid rgba(71, 188, 229,.7);
}

.modal-body{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
button{
  height:100px;
  width: 200px;
  margin:auto 0;
  border:2px solid rgb(255, 255, 225);
  border-radius:20px;
  background:rgba(71, 188, 229,.6);
}
.modal-header , .modal-footer , .modal-body {
  background-image:url("http://wallpaper.pickywallpapers.com/1920x1080/colorful-blurry-wallpaper.jpg");
 color:white;
}
.btnclose{
  height:30px;
  width:50px;
}
#number{
  color:white;
  text-shadow: 1px 1px 2px black;
  font-size: 20px;
}
footer, .jumbotron{
  background-image: url("http://rossmannellcomments.edublogs.org/files/2013/07/BlueSparkle_V7310240-2js7x10.jpg");
border:5px solid rgba(71, 188, 229,.7)
}
footer{
padding-top: 20px;
margin-top: 50px;
}
}
